* {
  font-family: 'Italianno', cursive;
}

/*Go to http://dopiaza.org/tools/datauri/index.php to convert svg to data text*/
body {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCI+CjxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0iZ3JleSI+PC9yZWN0Pgo8cmVjdCB4PSIyNSIgd2lkdGg9IjI1IiBoZWlnaHQ9IjUwIiBmaWxsPSIjY2NjIj48L3JlY3Q+Cjwvc3ZnPg==");
}

.invitation-body {
  align-content: center;
  background: #edeaea; /* For browsers that do not support gradients */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#ffffff), to(#e4e4e4)); /* Safari 4-5, Chrome 1-9 */
  background: -webkit-radial-gradient(circle, #ffffff, #e4e4e4); /* Safari 5.1+, Chrome 10+ */
  background: -moz-radial-gradient(circle, #ffffff, #e4e4e4); /* Firefox 3.6+ */
  background: -ms-radial-gradient(circle, #ffffff, #e4e4e4); /* IE 10 */
  width: 670px;
  height: 885px;
  display: block;
  margin: auto;
}

.invitation-text {
  padding-top: 180px;
}

.large {
  margin: 5px 0;
  font-size: 60px;
}

.medium {
  margin: 5px 0;
  font-size: 50px;
}

svg {
  margin-top: -649px;
  border: 5px groove lightgray;
  filter: url(#dropshadow);
}

svg path {
  fill: #860000;
}

p {
  color: #6b6b6b;
  text-align: center;
  margin: 0px;
  font-size: 24px;
}