* {
  
  font-family: 'Italianno', cursive;
}

body {
background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSIxNSI+CjxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI1MCIgZmlsbD0iIzI4MjgyOCI+PC9yZWN0Pgo8Y2lyY2xlIGN4PSIzIiBjeT0iNC4zIiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIzIiBjeT0iMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+CjxjaXJjbGUgY3g9IjEwLjUiIGN5PSIxMi41IiByPSIxLjgiIGZpbGw9IiMzOTM5MzkiPjwvY2lyY2xlPgo8Y2lyY2xlIGN4PSIxMC41IiBjeT0iMTEuMyIgcj0iMS44IiBmaWxsPSJibGFjayI+PC9jaXJjbGU+Cjwvc3ZnPg==");
}

.invitation-body {
  align-content: center;
  background: #edeaea; /* For browsers that do not support gradients */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#f6f6f6), to(#d1cccc)); /* Safari 4-5, Chrome 1-9 */
  background: -webkit-radial-gradient(circle, #f6f6f6, #d1cccc); /* Safari 5.1+, Chrome 10+ */
  background: -moz-radial-gradient(circle, #f6f6f6, #d1cccc); /* Firefox 3.6+ */
  background: -ms-radial-gradient(circle, #f6f6f6, #d1cccc); /* IE 10 */
  width: 620px;
  height: 820px;
  display: block;
  margin: auto;
}

.invitation-text {
  padding-top: 180px;
}

.large {
  margin: 5px 0;
  font-size: 60px;
}

.medium {
  margin: 5px 0;
  font-size: 50px;
}

svg {
  margin-top: -649px;
  border: 5px groove lightgray;
}

p {
  color: #4d4d4d;
  text-align: center;
  margin: 0px;
  font-size: 24px;
}