brotlipy==0.2.0
cffi==1.5.2
contextlib2==0.5.1
cssmin==0.2.0
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.9.5
django-appconf==1.0.1
django-compressor==2.0
django-excel==0.0.4
django-toolbelt==0.0.1
future==0.15.2
gunicorn==19.4.5
jdcal==1.2
jsmin==2.2.1
keen==0.3.21
openpyxl==2.2.2
Padding==0.4
psycopg2==2.6.1
pycparser==2.14
pycrypto==2.6.1
pyexcel==0.2.0
pyexcel-io==0.1.0
pyexcel-webio==0.0.6
pyexcel-xls==0.1.0
pyexcel-xlsx==0.1.0
raven==5.12.0
rcssmin==1.0.6
requests==2.9.1
rjsmin==1.0.12
six==1.10.0
static3==0.6.1
texttable==0.8.4
whitenoise==3.0
xlrd==0.9.4
xlwt-future==0.8.0
