option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "szar_site.production_settings"
    "PYTHONPATH": "/opt/python/current/app/szar:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: szar_site/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
