{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
{% endblock %}

{% block content %}

<div id="about" class="wedding-section">
  <div class="one-vh">
    <h1>About Us</h1>
  </div>
  <p>
    We started dating during Aneesh's senior year/Sherry's junior year. Aneesh then graduated and a year of long-distance commenced (too bad Megabus doesn't have an elite status program!). We then had a year together in Washington, D.C. and then did another year of long-distance; on opposite coasts this time, forcing us to ditch Megabus in favor of US Airways to keep our relationship going strong. Thankfully, we're now both in the sunny Bay Area and our future involves no more long-distance!
  </p>
</div>


<div id="photos" class="wedding-section">
  <div class="one-vh">
    <h1>Photos</h1>
  </div>
</div>

<div id="wedding-info" class="wedding-section">
  <div class="one-vh">
    <h1>The Wedding</h1>
  </div>
</div>

<div id="venue" class="wedding-section">
  <div class="one-vh">
    <h2>Venue</h2>
  </div>
</div>

<div id="schedule" class="wedding-section">
  <div class="one-vh">
    <h2>Schedule</h2>
  </div>
</div>

<div id="hotels" class="wedding-section">
  <div class="one-vh">
    <h2>Hotels</h2>
  </div>
</div>

<div id="travel" class="wedding-section">
  <div class="one-vh">
    <h2>Travel</h2>
  </div>
</div>

<div id="dress" class="wedding-section">
  <div class="one-vh">
    <h2>Dress</h2>
  </div>
</div>

<!-- WEDDING REGISTRY -->
<div id="registry" class="wedding-section queryResultContainer">
  <div class="one-vh">
    <h1>Registry</h1>
  </div>
  <h3>Charity of Your Choice</h3>
  <p>If you have a charity you feel passionate about, feel free to donate to it under our name.</p>
  <p>Let us know and we'd love to list it on this website!</p>
</div>
<p class="text-center"><small>Wedding registry hosted by <a href="https://wanderable.com/hm/szar" target="_blank">Wanderable</a></small></p>
{% endblock %}

{% block code %}
<script src="{% static 'js/homepage.js'%}"></script>
{% endblock %}
