{% extends 'base.html' %}
{% load static %}
{% load admin_urls %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/ext/dropzone.min.css' %}">
<link rel="stylesheet" href="{% static 'css/admin.css' %}?v={{static_version}}">
{% endblock %}

{% block description %}RSVP management for SZAR wedding site{% endblock %}

{% block content %}
<h1>Guest Information</h1>
<div class="alert hidden">
  <a class="close" aria-label="close">&times;</a>
  <p class="message"></p>
</div>
<button type="button" name="invitation" class="email btn btn-primary" id="send-invitation-button" disabled>Send Invitations</button>
<button type="button" name="logistics" class="email btn btn-primary" id="send-logistics-button" disabled>Send Logistics</button>
<button type="button" name="requestaddress" class="email btn btn-primary" id="send-addressrequest-button" disabled>Send Address Request</button>
<button type="button" name="Delete" id="delete-guests-button" class="btn btn-danger pull-right" disabled>Delete</button>
    <table id="guest-list-table">
      <thead>
        <th><input type="checkbox" id="all-guests-checkbox"></th>
        <th>Name</th>
        <th>Email</th>
        <th>Number Expected</th>
        <th>RSVP?</th>
        <th>Plus One</th>
        <th>Dates</th>
        <th>Number Actual</th>
        <th>Vegetarian/Other Allergies</th>
        <th>Hotel</th>
        <th>Carpool</th>
        <th>Winery</th>
        <th>Comments</th>
        <th>Song Requests</th>
        <th>Username</th>
        <th>Sent Emails</th>
      </thead>
      {% for rsvp in current_guests %}
          {% with status=rsvp.fields.attending rsvp_id=rsvp.pk expected_attendees=rsvp.fields.expected_attendees %}
          {% if expected_attendees != "0.0" %}
          <tr class="rsvp-{{ status }}" id="rsvp-id-{{ rsvp_id }}">
            <td>
                <input type="checkbox" name="name" value="{{ rsvp_id }}">
            </td>
          {% else %}
          <tr class="rsvp-maybe" id="rsvp-id-{{ rsvp_id }}">
            <td>
            </td>
          {% endif %}
            <td class="guest-name"><a href="{% url 'admin:auth_user_change' rsvp.fields.guest.id %}">{{ rsvp.fields.formal_prefix|default:"" }} {{ rsvp.fields.guest.name }}</a></td>
            <td class="guest-email">{{ rsvp.fields.guest.email }}</td>
            <td class="guest-number">
              <div class="input-group">
	               	<span class="input-group-btn">
	                  	<button class="btn btn-minus btn-default" type="button">-</button>
	               	</span>
	               	<span class="number">{{ expected_attendees }}</span>
	               	<span class="input-group-btn">
	                  	<button class="btn btn-plus btn-default" type="button">+</button>
	               	</span>
	            </div><!-- /input-group -->
            </td>
            <td class="guest-status"><a href="{% url 'admin:rsvp_rsvp_change' rsvp.pk %}">{{ status }}</a></td>
            <td class="guest-plus-one">{{ rsvp.fields.plus_one_name }} ({{ rsvp.fields.plus_one }})</td>
          {% if status %}
              <td class="guest-attending-date">{{ rsvp.fields.attending_dates }}</td>
              <td class="guest-attending-number">{{ rsvp.fields.number_attendees }}</td>
              <td class="guest-vegetarian">{{ rsvp.fields.vegetarian }} ({{ rsvp.fields.other_dietary_restrictions }})</td>
              <td class="guest-hotel">{{ rsvp.fields.need_hotel }}</td>
              <td class="guest-carpool">{{ rsvp.fields.need_carpool }}</td>
              <td class="guest-winery">{{ rsvp.fields.wine_tasting }}</td>
            {% else %}
              <td class="guest-attending-date"></td>
              <td class="guest-attending-number"></td>
              <td class="guest-vegetarian"></td>
              <td class="guest-hotel"></td>
              <td class="guest-carpool"></td>
              <td class="guest-winery"></td>
            {% endif %}
            <td class="guest-comments">{{ rsvp.fields.comments }}</td>
            <td class="guest-songs">{{ rsvp.fields.song_requests }}</td>
            <td class="guest-username">{{ rsvp.fields.guest.username }}</td>
            <td class="guest-emails-sent">{{ rsvp.fields.sent_emails }}</td>
          </tr>
          {% endwith %}
      {% endfor %}
      <tfoot>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tfoot>
    </table>

    <form action="{% url 'add_guests' %}" method="POST" enctype="multipart/form-data" class="dropzone dz-clickable">
        {% csrf_token %}
        <div class="dz-default dz-message">
            <span>Drop files here to upload</span>
        </div>
    </form>
{% endblock %}

{% block code %}
    <script src="{% static 'js/ext/dropzone.min.js'%}"></script>
    <script src="{% static 'js/widgets/checkbox.js'%}?v={{static_version}}.1"></script>
    <script src="{% static 'js/ext/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'js/ext/datatables/sum.min.js'%}"></script>
    <script src="{% static 'js/admin/add_guests.js'%}?v={{static_version}}.2"></script>
    <script type="text/javascript">
      // Set global variables
      var rsvp = rsvp || {};
      rsvp.csrf_token = "{{ csrf_token }}";
      rsvp.add_guests_url = "{% url 'add_guests' %}";
      rsvp.delete_rsvp_url = "{% url 'save_rsvp' %}";
      rsvp.change_number_url = "{% url 'change_number' %}";
    </script>
{% endblock %}
