{% extends 'base.html' %}
{% load static %}

{% block title %}Sherry & Aneesh Wedding Invitation{% endblock %}
{% block body-class %}envelope-supported{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/rsvp.css' %}?v={{static_version}}">
<meta name="robots" content="noindex">
<link rel="prerender" href="{% url 'root-url' %}" />
{% endblock %}

{% block description %}Invitation and RSVP for the wedding between Aneesh Raghunandan and Sherry Zhou{% endblock %}
{% block bootstrap-css %}
{% endblock %}
{% block bootstrap-js %}
{% endblock %}
{% block bootstrap-header %}
{% endblock %}

{% block content %}
<div class="menu-buttons pull-left" role="navigation">
  <a href="{% url 'root-url' %}" class="nice-button">Main Page</a>
</div>
<div class="menu-buttons pull-right js-only" role="contentinfo">
  <img src="{% static 'images/US_flag.svg'%}?v=1" data-language="english" alt="English"  height="20px" class="active"/>
  <img src="{% static 'images/China_flag.svg'%}?v=1" data-language="chinese"  alt="中文" height="20px"/>
</div>
<div class="envelope button hidden">
  <div class="invitation-body card" role="main">
    <div class="front">
      <div class="border">
        <div class="button left-ribbon" id="rsvp">
          <span class="english">Click to RSVP</span>
          <span class="chinese">请回复</span>
        </div>
        <div class="invitation-text english">
          <p>Drs. Bin Zhou & Fang Mu</p>
          <p>invite you to join them for the</p>
          <p class="large">wedding </p>
          <p>of their daughter,</p>
          <p class="medium">Xiao-Qiao Zhou,</p>
          <p>to</p>
          <p class="medium">Aneesh Raghunandan,</p>
          <p>son of Drs. K. Raghunandan & D. Rama</p>
          <p></p>
          <p>on the morning of August 28, 2016,</p>
          <p>with a reception</p>
          <p>on the evening of August 27,</p>
          <p>at Fortino Winery, </p>
          <p>Gilroy, CA.</p>
        </div> <!-- invitation-text -->
        <div class="invitation-text chinese">
          <p>周斌、穆芳</p>
          <p>邀请您参加他们女儿</p>
          <p class="medium">周小乔</p>
          <p>和</p>
          <p>Drs. K. Raghunandan、 D. Rama</p>
          <p>儿子</p>
          <p class="medium">Aneesh Raghunandan、</p>
          <p class="large">的婚礼</p>
          <p>2016年8月27-28日、</p>
          <p>美国加利福尼亚州</p>
          <p>旧金山湾区.</p>
        </div> <!-- invitation-text -->
      </div> <!-- border -->
    </div> <!-- front -->

    <div class="back hidden">
      <div class="button left-ribbon" id="invitation">
        <span class="english">See invitation</span>
        <span class="chinese">邀请函</span>
      </div>
      <form class="rsvp-form">
        <div>
          <label for="first_name" class="required">
            <span class="english">First Name</span>
            <span class="chinese">名</span>
          </label>
          <input type="text" name="first_name" value="{{ first_name }}" size="40" aria-required="true" required>
          <label for="last_name" class="required">
            <span class="english">Last Name</span>
            <span class="chinese">姓</span>
          </label>
          <input type="text" name="last_name" value="{{ last_name }}" size="40" aria-required="true" required>
        </div>
        <div>
          <label for="attending" class="required">
            <span class="english">Will you be attending?</span>
            <span class="chinese">您会参加吗</span>
          </label>
          <label class="szar-inline">
            <input type="radio" name="attending" value="True" aria-required="true" required {{ attending_true }}>
            <span class="english">Yes</span><span class="chinese">会</span>
          </label>
          <label class="szar-inline">
            <input type="radio" name="attending" value="False" aria-required="true" required {{ attending_false }}>
            <span class="english">No</span><span class="chinese">不会</span>
          </label>
        </div><!-- Can you attend? -->

        <div class="szar-attending-questions hidden">
          <div>
            <label for="email" class="required">
              <span class="english">Email address</span>
              <span class="chinese">电子邮箱</span>
            </label>
            <input type="email" name="email" value="{{ email }}" id="rsvp-email" size="40" aria-required="true" required>
          </div>
          <div>
            <label for="attending_dates" class="required">
              <span class="english">Which days are you planning to attend? <small>(Check all that apply)</small></span>
              <span class="chinese">哪天您打算参加</span>
            </label>
            <label class="szar-inline">
              <input type="checkbox" name="attending_dates" value="1" {{ saturday }}>
              <span class="english">Saturday <small>(reception)</small></span><span class="chinese">周六<small>（晚宴）</small></span>
            </label>
            <label class="szar-inline">
              <input type="checkbox" name="attending_dates" value="2" {{ sunday }}>
              <span class="english">Sunday <small>(wedding ceremony)</small></span><span class="chinese">星期日<small>（婚礼）</small></span>
            </label>
          </div>
          <div>
            <label for="vegetarian">
              <span class="english">Are you vegetarian?</span>
              <span class="chinese">您吃肉吗？</span>
            </label>
            <label class="szar-inline">
              <input type="radio" name="vegetarian" value="True" {{ vegetarian_true }}>
              <span class="english">Yes</span><span class="chinese">吃</span>
            </label>
            <label class="szar-inline">
              <input type="radio" name="vegetarian" value="False" {{ vegetarian_false }}>
              <span class="english">No</span><span class="chinese">不吃</span>
            </label>
          </div>
          <div>
            <label for="other_dietary_restrictions">
              <span class="english">Do you have any other dietary restrictions or allergies?</span>
              <span class="chinese">您有什么其他的饮食限制或过敏？</span>
            </label>
            <input type="text" name="other_dietary_restrictions" value="{{ other_dietary_restrictions }}" size="40">
          </div>
          <div>
            <label for="need_hotel">
              <span class="english">Would you be interested in receiving information about nearby hotels?</span>
              <span class="chinese">您是否有兴趣收到有关附近酒店的信息？</span>
            </label>
            <label class="szar-inline">
              <input type="radio" name="need_hotel" value="True" {{ need_hotel_true }}>
              <span class="english">Yes</span><span class="chinese">要</span>
            </label>
            <label class="szar-inline">
              <input type="radio" name="need_hotel" value="False" {{ need_hotel_false }}>
              <span class="english">No</span><span class="chinese">不要</span>
            </label>
          </div>
          <div>
            <label for="need_carpool">
              <span class="english">Would you like information on carpooling/transportation?</span>
              <span class="chinese">您希望知道有关的交通信息？</span>
            </label>
            <label class="szar-inline">
              <input type="radio" name="need_carpool" value="True" {{ need_carpool_true }}>
              <span class="english">Yes</span><span class="chinese">要</span>
            </label>
            <label class="szar-inline">
              <input type="radio" name="need_carpool" value="False" {{ need_carpool_false }}>
              <span class="english">No</span><span class="chinese">不要</span>
            </label>
          </div>
          <div>
            <label for="wine_tasting">
              <span class="english">Are you interested in wine tastings at local Gilroy wineries on Saturday for a small fee?</span>
              <span class="chinese">您在葡萄酒之旅上周六感兴趣吗？</span>
            </label>
            <label class="szar-inline">
              <input type="radio" name="wine_tasting" value="True" {{ wine_tasting_true }}>
              <span class="english">Yes</span><span class="chinese">要</span>
            </label>
            <label class="szar-inline">
              <input type="radio" name="wine_tasting" value="False" {{ wine_tasting_false }}>
              <span class="english">No</span><span class="chinese">不要</span>
            </label>
          </div>
          <!-- Optional div for people with plus 1 -->
          {% if plus_one %}
            {% for nm in plus_one_name %}
              <div id="plus_one_{{ forloop.counter0 }}_boolean" class="plus-one">
                <label for="plus_one_{{ forloop.counter0 }}_boolean" class="required">
                  <span class="english">Are you planning on bringing {{ forloop.counter }} guest{{ forloop.counter|pluralize }}?</span>
                  <span class="chinese">您是一个人还是两个人？</span>
                </label>
                <label class="szar-inline">
                  <input type="radio" class="plus-one-option" name="plus_one_{{ forloop.counter0 }}_boolean" value="True" aria-required="true" required {{ nm.true }}>
                  <span class="english">Yes</span><span class="chinese">一个</span>
                </label>
                <label class="szar-inline">
                  <input type="radio" class="plus-one-option" name="plus_one_{{ forloop.counter0 }}_boolean" value="False" aria-required="true" required {{ nm.false }}>
                  <span class="english">No</span><span class="chinese">两个</span>
                </label>
                <div id="plus_one_{{ forloop.counter0 }}_name" class="hidden">
                  <label for="plus_one_name" class="required">
                    <span class="english">What is your guest's full name?</span>
                    <span class="chinese">您的客人的名字？</span>
                  </label>
                  <input type="text" name="plus_one_name" value="{{ nm.name }}" size="40" aria-required="true" required>
                </div>
              </div>
            {% endfor %}
          {% endif %}

          <div>
            <label for="song_requests">
              <span class="english">Do you have any song requests for the reception?</span>
              <span class="chinese">您希望听什么歌曲？</span>
            </label>
            <input type="text" name="song_requests" value="{{ song_requests }}" size="40">
          </div>
        </div><!-- szar-attending-questions -->

        <label for="comments">
          <span class="english">Additional comments? <small>(Checked regularly)</small></span>
          <span class="chinese">还有别的事情要告诉我们？</span>
        </label>
        <textarea name="comments"cols="40" rows="3">{{ comments }}</textarea>

        <div>
          <button type="submit" class="nice-button">
            <span class="english">Send</span>
            <span class="chinese">发送</span>
          </button>
        </div>
      </form>
    </div> <!-- back -->
  </div> <!-- invitation-body/card -->

  <div class="flap-outside flap-container">
    <div class="flap">
      <div class="lining"></div>
    </div>
  </div>
  <div class="flap-inside flap-container">
    <div class="flap"></div>
  </div>

  <svg version="1.1" class="string" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  viewBox="100 0 500 300" enable-background="new 0 0 400 400" xml:space="preserve" preserveAspectRatio="xMidYMid meet">
    <!-- Left string -->
    <path fill="none" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M0,202.768l247.674,0.566c0,0,17.438,0.373,26.027-0.333c3.292-0.086,10.681-2.608,12.901-6.277
      c9.421-15.545,10.722-22.938,14.738-32.724c14.667-35.75,37.693-52.331,50-41.333c13.166,11.766-4.703,35.756-15.667,48.333
      c-12.222,14.018-23.661,18.463-38,24.667c-12.307,5.325-44.737,16.634-59.435,25.867c-16.134,10.137-19.231,9.467-49.832,39.508"
    >
      <animate id="morphoneleft" dur="0.8" begin="click"
             attributeName="d" from="M0,202.768l247.674,0.566c0,0,17.438,0.373,26.027-0.333c3.292-0.086,10.681-2.608,12.901-6.277
              c9.421-15.545,10.722-22.938,14.738-32.724c14.667-35.75,37.693-52.331,50-41.333c13.166,11.766-4.703,35.756-15.667,48.333
              c-12.222,14.018-23.661,18.463-38,24.667c-12.307,5.325-44.737,16.634-59.435,25.867c-16.134,10.137-19.231,9.467-49.832,39.508" to="M0,203l247.674,0.334c0,0,17.438,0.373,26.027-0.333c3.292-0.086,10.681-2.608,12.901-6.277c2.261-3.927,2.731-14.057,9.898-13.391
              c7.167,1-9.799,17.048-11.927,19.118c-7.425,6.885-5.292,4.807-14.292,11.89c-9.167,6.667-17.411,10.963-31.75,17.167
              c-12.307,5.325-88.001,46.751-102.699,55.984C119.698,297.629,104,304.5,76,318"></animate>
      <animate id="morphtwoleft" dur="0.2" begin="morphoneleft.end"
             attributeName="d" from="M0,203l247.674,0.334c0,0,17.438,0.373,26.027-0.333c3.292-0.086,10.681-2.608,12.901-6.277c2.261-3.927,2.731-14.057,9.898-13.391
              c7.167,1-9.799,17.048-11.927,19.118c-7.425,6.885-5.292,4.807-14.292,11.89c-9.167,6.667-17.411,10.963-31.75,17.167
              c-12.307,5.325-88.001,46.751-102.699,55.984C119.698,297.629,104,304.5,76,318" to="M-79.078,290.9l35.386,4.267c0,0,93.468,18.997,103.805,35.211c8.628,9.253,3.196,17.92-2.946,25.587
              C45.5,368.632,6.533,364.559-0.034,368.941c-7.615,4.833-39.83-1.204-45.788,2.18c-18.972,11.783-5.168,11.094-14.71,15.36
              c-10.121,5.946-21.998-7.963-34.83-1.28c-7.711,6.827-7.314,10.24-18.844,10.24c-5.964,0-23.901-2.73-37.771-0.854"></animate>
      <animate id="morphthreeleft" dur="0.05" begin="morphtwoleft.end"
             attributeName="d" from="M-79.078,290.9l35.386,4.267c0,0,93.468,18.997,103.805,35.211c8.628,9.253,3.196,17.92-2.946,25.587
              C45.5,368.632,6.533,364.559-0.034,368.941c-7.615,4.833-39.83-1.204-45.788,2.18c-18.972,11.783-5.168,11.094-14.71,15.36
              c-10.121,5.946-21.998-7.963-34.83-1.28c-7.711,6.827-7.314,10.24-18.844,10.24c-5.964,0-23.901-2.73-37.771-0.854" to="M-62.5,316.167l40.487,1.666c0,0,4.197,32.816,14.534,49.03c8.628,9.253,3.196,17.92-2.946,25.587
              c-11.667,12.667-63.021,9.805-69.588,14.188c-7.615,4.833-39.83-1.204-45.788,2.18c-18.972,11.783-5.168,11.094-14.71,15.36
              c-10.121,5.946-21.998-7.963-34.83-1.28c-7.711,6.827-7.314,10.24-18.844,10.24c-5.964,0-23.901-2.73-37.771-0.854" fill="freeze"></animate>

    </path>
    <!-- Right string -->
    <path fill="none" stroke="#fff" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M600,201.587l-276.18,0.127c0,0-33.438-0.151-39.313-3.339c-6.144-3.333-38.832-67.707-59.101-70.055
      c-16.598-1.923-16.888,14.444-13.663,23.347c3.156,8.713,11.264,20.667,31.125,32.889c9.736,5.991,23.593,10.774,34.574,14.636
      c1.523,0.536,6.154,2.708,9.058,3.568c50.508,14.908,73.965,32.449,87.632,40.116">
      <animate id="morphoneright" dur="0.8" begin="morphoneleft.begin"
             attributeName="d" from="M600,201.587l-276.18,0.127c0,0-33.438-0.151-39.313-3.339c-6.144-3.333-38.832-67.707-59.101-70.055
              c-16.598-1.923-16.888,14.444-13.663,23.347c3.156,8.713,11.264,20.667,31.125,32.889c9.736,5.991,23.593,10.774,34.574,14.636
              c1.523,0.536,6.154,2.708,9.058,3.568c50.508,14.908,73.965,32.449,87.632,40.116" to="M600,202.5l-276.18-0.786c0,0-33.438-0.151-39.313-3.339c-6.144-3.333-4.365-15.344-14.007-11.708
              c-5.5,4.864,6.298,10.404,19.606,18.069c10.524,5.834,38.771,22.158,50.088,25.439c35.852,14.174,61.009,28.751,71.991,32.613
              c1.521,0.536,21.243,8.804,24.147,9.663c8.181,2.457,28,10.381,41.667,18.048"></animate>
      <animate id="morphtworight" dur="0.2" begin="morphoneright.end"
             attributeName="d" from="M600,202.5l-276.18-0.786c0,0-33.438-0.151-39.313-3.339c-6.144-3.333-4.365-15.344-14.007-11.708
              c-5.5,4.864,6.298,10.404,19.606,18.069c10.524,5.834,38.771,22.158,50.088,25.439c35.852,14.174,61.009,28.751,71.991,32.613
              c1.521,0.536,21.243,8.804,24.147,9.663c8.181,2.457,28,10.381,41.667,18.048" to="M678,284.233l-56.833,13.333c0,0-98.644,16.187-79.333,51.138c22.422,16,25.663-6.034,32.721-0.451
              c10.73,10.935,56.404,18.938,65.517,26.605c5.383,4.676,20.677-7.281,28.425-4c24.545,14.174,42.116,2.138,49.635,6
              c9.242,4.5,10.677,19.141,12.665,20c5.601,2.457,25.901-7.667,35.258,0"></animate>
       <animate id="morphthreeright" dur="0.05" begin="morphtworight.end"
             attributeName="d" from="M678,284.233l-56.833,13.333c0,0-98.644,16.187-79.333,51.138c22.422,16,25.663-6.034,32.721-0.451
              c10.73,10.935,56.404,18.938,65.517,26.605c5.383,4.676,20.677-7.281,28.425-4c24.545,14.174,42.116,2.138,49.635,6
              c9.242,4.5,10.677,19.141,12.665,20c5.601,2.457,25.901-7.667,35.258,0" to="M688,304.501l-56.833,13.333c0,0-44.644,39.561-25.333,74.512c22.422,16,25.663-6.034,32.721-0.451
              c10.73,10.935,56.404,18.938,65.517,26.605c5.383,4.676,20.677-7.281,28.425-4c24.545,14.174,42.116,2.138,49.635,6
              c9.242,4.5,10.677,19.141,12.665,20c5.601,2.457,25.901-7.667,35.258,0" fill="freeze"></animate>
    </path>
    <rect id="openButton"
      x="0" y="0" rx="5" height="100%" width="100%"
    fill="none" stroke="#e9e9e9" stroke-width="0" />
  </svg>
</div> <!-- envelop -->
<div class="notification large">
  <span class="english">Thank you for your RSVP!</span>
  <span class="chinese">谢谢您的回复!</span>
</div>
{% endblock %}

{% block code %}
<script src="{% static 'js/ext/jquery.validate.min.js'%}"></script>
<script type="text/javascript">
  // Set global variables
  var rsvp = rsvp || {};
  rsvp.csrf_token = "{{ csrf_token }}";
  rsvp.save_rsvp_url = "{% url 'save_rsvp' %}";
  rsvp.username = "{{ username }}";
</script>
<script src="{% static 'js/rsvp.js'%}?v={{static_version}}"></script>
{% endblock %}
