{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
<meta name="robots" content="noindex">
<link rel="prerender" href="{% url 'root-url' %}" />
{% endblock %}

{% block description %}{{ name|default_if_none:"Template" }}'s quick RSVP page{% endblock %}

{% block content %}
<h1>{{ name|default_if_none:"" }}</h1>
<div class="jumbotron">
  <p>{{ status }}</p>
  <p>We're sad you can't make it, but you'll be able to follow us through photos and videos on our website during and after the wedding.</p>
  <p>If your plans change, please <a href="{% url 'make_rsvp' username %}">update your RSVP</a> before July 1st</p>
</div>
{% endblock %}
