{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
<link rel="prerender" href="{% url 'root-url' %}" />
{% endblock %}

{% block description %}{{ name|default_if_none:"Template" }}'s unsubscribe page{% endblock %}

{% block content %}
<h1>{{ name|default_if_none:"" }}</h1>
<div class="jumbotron">
  <p>{{ status }}</p>
  <p>Be sure to check back on the website for updates!</p>
  <p>If you are planning to come to the wedding, you can always re-add your email address through your <a href="{% url 'make_rsvp' username %}">rsvp</a>.</p>
</div>
{% endblock %}
