body, #main {
  margin-top: 60px;
  height: 100%;
  overflow-y: auto;
}

th, td {
  padding-left: 10px;
  padding-right: 10px;
}

table {
  margin: 20px auto;
}

.rsvp-False {
  background-color: yellow;
}
.rsvp-True {
  background-color: lightgreen;
}
.rsvp-None {
  background-color: pink;
}
.rsvp-maybe {
  background-color: lightgray;
}

.input-group-btn {
  padding: 0 5px;
}

.guest-number span.number {
  width: 30px;
  text-align: center;
  display: block;
}
