#registry div, #registry section {
  padding-left: 10px;
  padding-right: 10px;
}
#registry hr {
  width: 100%;
  margin-left: -10px;
}
.wedding-section {
  padding-top: 60px; /* To make hyperlinks scroll properly */
}
.one-vh {
  position: relative;
  min-height: 100vh;
}
.one-vh h1, .one-vh h2 {
  background-color: rgb(230, 230, 230);
  background-color: rgba(230, 230, 230, 0.5);
}
.one-vh h1.has-img, .one-vh h2.has-img {
  position: absolute;
  top: 30px;
  width: 100%;
  text-shadow: 1px 1px 4px white;
}
.one-vh img {
  width: 100%;
  top: 0px;
}

div.progress {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
