{% load static %}
{% load raven %}
<!DOCTYPE html>
<html class="support-no-js">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Sherry & Aneesh{% endblock %}</title>
    <meta name="description" content="{% block description %}The wedding webpage for Sherry and Aneesh with photos, wedding registry, and general information about the wedding.{% endblock %}">
    <link href='{% static "css/ext/fonts.css" %}' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'images/favicon.png'%}?v=10">
    {% block bootstrap-css %}
      <link rel="stylesheet" href="{% static 'css/ext/bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/ext/bootstrap/css/bootstrap-theme.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/bootstrap-customization.css' %}">
    {% endblock %}
    {% block style %}
    {% endblock %}
  </head>
  <body class="{% block body-class %}{% endblock %}">
    {% block bootstrap-header %}
      {% include "navbar.html" %}
    {% endblock %}
    <div id="main" class="container">
      {% block content %}
      {% endblock %}
    </div>
    <script src="{% static 'js/ext/modernizr/modernizr-custom.js'%}"></script>
    <script src="{% static 'js/ext/jquery-1.11.3/jquery-1.11.3.min.js'%}"></script>
    <script src="{% static 'js/ext/jquery.mobile.custom-1.4.5/jquery.mobile.custom.min.js'%}"></script>
    <script src="{% static 'js/ext/imagesloaded.pkgd.min.js'%}"></script>
    {% block bootstrap-js %}
      <script src="{% static 'css/ext/bootstrap/js/bootstrap.min.js'%}"></script>
    {% endblock %}
    <script src="https://cdn.ravenjs.com/2.3.0/raven.min.js"></script>
    <script>
       Raven.config('{% sentry_public_dsn "https"%}').install();
   </script>
    <script src="{% static 'js/base.js'%}"></script>
    {% block code %}
    {% endblock %}
    <noscript>
      <div>
        JavaScript isn't enabled, you might experience weirdness.
      </div>
    </noscript>
  </body>
</html>
