{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sherry & Aneesh</title>
    <link href='{% static "css/ext/Italianno/css/fonts.css" %}' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/rsvp.css' %}"></link>
    <link rel="shortcut icon" href="{% static 'images/favicon.png'%}?v=10">
  </head>
  <body>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <script src="{% static 'js/ext/jquery-1.11.3/jquery-1.11.3.min.js'%}"></script>
    {% block code %}
    {% endblock %}
  </body>
</html>