/*https://www.google.com/fonts/specimen/Italianno#charset*/
@font-face {
  font-family: 'Italianno';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Italianno-regular/Italianno-regular.eot');
  src: url('fonts/Italianno-regular/Italianno-regular.eot?#iefix') format('embedded-opentype'),
       local('Italianno'),
       local('Italianno-regular'),
       url('fonts/Italianno-regular/Italianno-regular.woff2') format('woff2'),
       url('fonts/Italianno-regular/Italianno-regular.woff') format('woff'),
       url('fonts/Italianno-regular/Italianno-regular.ttf') format('truetype'),
       url('fonts/Italianno-regular/Italianno-regular.svg#Italianno') format('svg');
}
